---
import "../styles/global.css";
import Navbar from "../components/navbar.astro"
import Hero from "../components/hero/hero.astro";
import MainLayout from "./mainLayout.astro";

const { title = "MixxFit" } = Astro.props;
const { subtitle = "Begin Your Journey" } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | {subtitle}</title>
	</head>
	<body class="bg-yellow-500">

        <Navbar/>

		<main class="mx-auto flex flex-col">
            <Hero/>
            <MainLayout/>
        </main>
	</body>
</html>
