---
import Features from "../components/features/features.astro";
import HowItWorks from "../components/howItWorks/howItWorks.astro";
import CallToAction from "../components/callToAction/callToAction.astro";
---


<div class="w-full flex flex-col">
    <Features/>
    <HowItWorks/>
    <CallToAction/>
</div>
